*{
	margin:0;
	padding:0;
}

.container{
	height: 100vh;
	width: 100%; 
	background-image:url(images/background.png);
	background-position:center;
	background-size: cover;
	//padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;
}

.navbar{
	padding: 12px 80 px;
	position: sticky;
	top: 0;
}
.logo{
	//width:160px;
	height: 40px;
	opacity: 0.6;
	cursor: pointer;
}

#menu{
	display: flex;
	align-items: center;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 0px 20px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
}


.content h1{
	font-family: monospace;
	font-size: 50px;
	font-weight:100;
	margin-top: 24px;
	margin-bottom:15px;
	color: #fff;
	
}


.content p{
	font-family: monospace;
	font-size: 20px;
	font-weight:100;
	margin-top: 24px;
	margin-bottom:15px;
	color: #fff;
}

.content{
	margin-left: 10%;
	margin-top: 10%;
}

.content .btn{
	display: inline-block;
	background: linear-gradient(45deg, #87adfe,#ff77cd);
	border-radius: 6px;
	padding: 10px 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	//box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}


.social-links {
	padding-right: 10px;
	//right: 72px;
	bottom: 35px;
	position: absolute;	
}

.social-links ul li {
	list-style: none;
	margin-top: 15px;
	text-align: center;
}

.social-links ul li a{
	color: #999;
	border-radius: 50%;
	border: 1px solid #999;
	padding: 5px;
	display: block;
}

.social-links ul li a:hover{
	background: linear-gradient(45deg, #87adfe,#ff77cd);
	color: #fff;
}